<body>
    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
                </li>
                <li class="sidebar-title"><span>NAVEGAÇÃO</span></li>
                <li class="sidebar-list">
                    <a href="#!/home">Dashboard <span class="menu-icon fas fa-align-justify"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#!/listaHosts">Lista de Hosts <span class="menu-icon fas fa-table"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#!/cadHosts">Cadastro de Hosts <span class="menu-icon fa fa-table"></span></a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <div class="col-xs-4">
                    <a href="" target="_blank"></a>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <div id="content-wrapper" ng-controller="HeaderCtrl">
            <div class="page-content">
                <!-- Header Bar -->
                <div class="row header">
                    <div class="col-xs-12">
                        <div class="user pull-right">
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Usuário
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                        Perfil
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#!/login">
                                        Logout
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="meta">
                            <div>
                                <!-- <h3>{{breadName}}</h3> -->
                                <img src="img/iguacu.png" height="65" width="219">
                            </div>
                            <!--  <div class="breadcrumb-links">
                                Home / {{breadName}}
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- End Header Bar -->
                <!-- Main Content -->
                <div ui-view="content"></div>
            </div>
            <!-- End Page Content -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Page Wrapper -->
</body>